[submodule "src/main/java/nl/infcomtec/simpleimage"]
	path = src/main/java/nl/infcomtec/simpleimage
	url = git@github.com:Walter-Stroebel/SimpleImage.git
[submodule "src/main/java/nl/infcomtec/datanode"]
	path = src/main/java/nl/infcomtec/datanode
	url = git@github.com:Walter-Stroebel/DataNode.git
